<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game play page</title>
  </head>
  <body class="game-play">
    <img src="https://media.giphy.com/media/FlodpfQUBSp20/giphy.gif" alt="space gif" id="mobile-background-space-gif">
    <div class="computer-board">

    </div>

    <div class="user-board">

    </div>



  </body>
</html>
