<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <div class="mobile-view">
      <p>mobile view</p>
    </div>
    <div class="desktop-view">
      <p>desktop view</p>
    </div>
  </body>
</html>
