<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <div class="mobile-view">
      <div class="welcome-banner">
        <p>Welcome to Battle Ship Ultima!</p>
      </div>
      <img src="https://media.giphy.com/media/FlodpfQUBSp20/giphy.gif" alt="space gif" id="mobile-background-space-gif">
      <button id="play-button">Play<b class="exclaim">!</b></button>
      <form class="play-form" id="message" action="/game" method="post">
        <label for="user_name" id="user_name_input">What's your name?</label><br>
        <input type="text" name="user_name" id="user_name"><br>
        <button type="submit" id="lets-play-button">Let's play</button>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
    </div>



    <div class="desktop-view">
      <a href="/about" id="about-link">About</a>
      <img src="https://media.giphy.com/media/FlodpfQUBSp20/giphy.gif" alt="space gif" id="background-space-gif">
      <div class="welcome-banner">
        <p>Welcome to Battle Ship Ultima!</p>
      </div>
      <div class="message1" id="message1">
        <p>Sorry, but our desktop version isn't ready yet.</p>
      </div>
    </div>
  </body>
</html>
