<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <div class="mobile-view">
      <p>mobile view</p>
    </div>
    <div class="desktop-view">
      <a href="/about" id="about-link">About</a>
      <img src="https://media.giphy.com/media/FlodpfQUBSp20/giphy.gif" alt="space gif" id="background-space-gif">
      <div class="welcome-banner">
        <p>Welcome to Battle Ship Ultima!</p>
      </div>
      <div class="message1" id="message1">
        <p>Sorry, but our desktop version isn't ready yet.</p>
      </div>
    </div>
  </body>
</html>
