<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <title></title>
  </head>
  <body class="about">
    <a href="/" id="home-link">Home</a>
      <div class="pixel-me">
        <img src="https://i.ibb.co/WDr2tNH/me-pixels.png" id="my-head" alt="my head in pixel form">
      </div>
      <div class="thats-me">
        <p style="font-size:200px;">←</p>
        <p style="margin-top:-200px;">That's me</p>
      </div>
      <div class="about-me">
        <p>I'm a sign language interpreter gone programmer</p>
        <p>This game is a project I challenged myself</p>
        <p style="margin-top:-20px;">with in order to learn frontend programming</p>
        <p style="margin-top:-20px;">I hope you enjoy it! If you'd like to see my other projects...</p>
      </div>
      <a href="https://github.com/TravisGM92/" class="pixel github" target="_blank" id="gh-page" alt="link to my github page">GH</a>

    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  </body>
</html>
